Klijent/Connected Services/Service1/MyCloudStore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyCloudStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyCloudStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Hesh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="info" nillable="true" type="tns:StorageFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUpload" nillable="true" type="tns:FileUpload" />
  <xs:complexType name="StorageFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="VirtualPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
  <xs:complexType name="ArrayOfStorageFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageFileInfo" nillable="true" type="tns:StorageFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageFileInfo" nillable="true" type="tns:ArrayOfStorageFileInfo" />
</xs:schema>